.navbar-item {
    text-align: right;
    padding-right: 5px;
}

.card-body{
    background-color:rgb(255, 197, 174);
}

.contactInfo li{
    margin: 4px;
}

ul{
    list-style-type: none;
    text-size-adjust: auto;
}

#profilePic {
    max-width: 300px;
    border-radius: 50%;
}

#title {
    background-color: rgb(250, 179, 151);
    padding: 15% 15%;
}

#about {
    background-color: lightsalmon;
    padding: 15% 15%;
}

#projects{
    background-color: salmon;
    padding: 5% 15%;
}

#places {
    background-color: indianred;
    padding: 5% 15%;
}

#contact {
    background-color:rgb(155, 68, 68);
    padding: 20% 20%;
}

