.navbar-item {
    text-align: right;
    padding-right: 5px;
}


#profilePic {
    max-width: 200px;
    border-radius: 50%;
}

#title {
    background-color: lightsalmon;
}

#about {
    background-color: salmon;
}

#projects {
    background-color: indianred;
}

#contact {
    background-color:rgb(155, 68, 68);
}

